/.ipynb_checkpoints/chapter1-checkpoint.ipynb
/.idea/IMLP.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.ipynb_checkpoints/1Introduction-checkpoint.ipynb
/tmp.png
/.ipynb_checkpoints/2SupervisedLearning-checkpoint.ipynb
/tmp
.aux
.toc
.log
.out
Notes/.aux
_minted-main
Notes/Ch02.aux
Notes/main.aux
Notes/main.log
Notes/main.out
Notes/main.synctex.gz
__pycache__
cache
Notes/main.toc
Codes/tmp.png
Codes/tmp
Notes/main.lof
Codes/mytree.dot
Notes/Ch03.aux
Codes/.ipynb_checkpoints
Notes/Ch04.aux
Notes/main.fdb_latexmk
Notes/main.fls
Notes/Ch05.aux
